@import url('https://fonts.googleapis.com/css2?family=Noto Kufi Arabic:wght@400&display=swap');

:root {
	--template-default-color:#0055aa;
	--template-text-color:black;
	--template-background-color:#FFF;
	--items-brand-color:maroon;
	--sidebar-background-color:#F6F6F6;
	--site-direction:ltr;
	--google-fonts:Noto Kufi Arabic;
	--main-menu-font:Arial;
	--breadcrumb-font:Arial;
	--block-heading-font:Arial;
	--pager-font:Arial;
	--footer-font:Arial;
	--template-font-size:15px;
	--content-banner-height:20vh;
	--css-version:73;
	--template-font-rtl:Noto Kufi Arabic;
	--template-font-ltr:calibri;
	--template-font-family:calibri;
	--template-font-rtl-line-height:1.5;
	--template-font-ltr-line-height:1.5;
	--template-font-rtl-size:1em;
	--template-font-ltr-size:1em;
	--main-max-width:1400px;
	--body-max-width:100vw;
	--header-max-width:1400px;
	--nav-max-width:100vw;
	
}

body {

}

