@import url('https://fonts.googleapis.com/css2?family=Noto Nastaliq Urdu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Gulzar:wght@400&display=swap');

:root {
	--template-text-color:black;
	--template-background-color:#FFF;
	--template-font-family:calibri;
	--items-brand-color:SeaGreen;
	--sidebar-background-color:#F4F4F4;
	--site-direction:ltr;
	--google-fonts:Noto Nastaliq Urdu, Gulzar;
	--template-max-width:1300px;
	--main-menu-font:Arial;
	--breadcrumb-font:Arial;
	--block-heading-font:Arial;
	--pager-font:Arial;
	--footer-font:Arial;
	--template-font-size:15px;
	--content-banner-height:20vh;
	--css-version:1;
	
}
